@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100% !important;
  height: 100%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

#slider {
  /* top right bottom left */
  margin: 10vh 20vh 10vh 20vh;
  padding: 5vh;
  height: 60vh;

  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 25px;
}

#sliderContent {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  height: 80%;
}

#description {
  padding-right: 2vw;
  width: 25%;

  border: 1px solid gray;
}

#media {
  padding-left: 2vw;
  width: 75%;

  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  border: 1px solid gray;
}

#indexRow {
  display: flex;
  gap: 1vw;
  justify-content: center;
  margin: 0 20vw 20vw 20vw;
}

.indexButton {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;

  border: 1px solid gray;
  border-radius: 50%;
  background-color: lightgray;
  align-items: center;
}
